<launch>
  <include file="$(find uafr)/launch/description.launch.xml"/>

  <node name="robotis_joint_state_publisher" pkg="joint_state_publisher"
        type="joint_state_publisher">
    <param name="rate" value="1000"/>
  </node>

  <node pkg="robot_state_publisher" type="robot_state_publisher"
        name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="1000.0" />
  </node>
</launch>
